.carousel {
	&__gallery {
		@include size(100% 100%);
		height: 80vh;
		background-position: center;
		background-size: cover;
		display: flex;
		align-items: center;
	}
}

// .carousel {

// 	// > div > div {
// 	// 	position: relative;
// 	// }

// 	// &__text {
// 	// 	@include grid-container;

// 	// 	&--django,
// 	// 	&--vizio,
// 	// 	&--escape,
// 	// 	&--ultra {
// 	// 		.text {
// 	// 			position: absolute;
// 	// 		}

// 	// 		h1,
// 	// 		p {
// 	// 			position: relative;
// 	// 		}

// 	// 		h1 {
// 	// 			font-family: tradeGothic;
// 	// 			font-size: 3rem;
// 	// 		}

// 	// 		p {
// 	// 			font-size: $default-font-size;
// 	// 		}

// 	// 		a {
// 	// 			text-decoration: none;
// 	// 			&:hover {
// 	// 				font-weight: bold;
// 	// 			}
// 	// 		}
// 	// 	}

// 	// 	&--django {
// 	// 		h1,
// 	// 		p {
// 	// 			top: 20vh;
// 	// 			left: 20vw;
// 	// 		}

// 	// 		h1 {
// 	// 			color: $color-red-1;
// 	// 			width: 25vw;
// 	// 		}

// 	// 		p {
// 	// 			width: 24vw;
// 	// 		}

// 	// 		a {
// 	// 			color: $color-red-1;
// 	// 		}
// 	// 	}

// 	// 	&--vizio {
// 	// 		h1,
// 	// 		p {
// 	// 			top: 15vh;
// 	// 			left: 50vw;
// 	// 		}

// 	// 		h1 {
// 	// 			color: $color-red-1;
// 	// 			width: 20vw;
// 	// 		}

// 	// 		p {
// 	// 			width: 25vw;
// 	// 		}

// 	// 		a {
// 	// 			color: $color-red-1;
// 	// 		}
// 	// 	}

// 	// 	&--escape {
// 	// 		h1,
// 	// 		p {
// 	// 			top: 15vh;
// 	// 			left: 25vw;
// 	// 		}

// 	// 		h1 {
// 	// 			color: $color-orange-1;
// 	// 			width: 20vw;
// 	// 		}

// 	// 		p {
// 	// 			color: $color-white;
// 	// 			width: 25vw;
// 	// 		}

// 	// 		a {
// 	// 			color: $color-orange-1;
// 	// 		}
// 	// 	}

// 	// 	&--ultra {
// 	// 		h1,
// 	// 		p {
// 	// 			top: 15vh;
// 	// 			left: 20vw;
// 	// 		}

// 	// 		h1 {
// 	// 			font-size: 3.5rem;
// 	// 			color: $color-blue-1;
// 	// 			width: 30vw;
// 	// 		}

// 	// 		p {
// 	// 			width: 25vw;
// 	// 		}

// 	// 		a {
// 	// 			color: $color-blue-1;
// 	// 		}
// 	// 	}
// 	// }

// 	// &__gallery--image {
// 	// 	height: 100%;
// 	// }
// }

// Slick JS Slider overides
.slick-prev {
	right: 30rem !important;
}

.slick-next {
	right: 25rem !important;
}
