// Color Variables
$color-white: #ffffff;
$color-black: #1d1d1d;

$color-grey: #9f9f9f;
$color-dark-grey-1: #282828;

$color-red-1: #e34d33;
$color-red-2: #d90e0a;

$color-orange-1: #f68f1e;
$color-blue-1: #2162bc;

$color-teal-1: #67d9da;
